html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	margin: 0;
}

h1 {
	text-align: center;
}

div {
	box-sizing: border-box;
}

.appWrapper { 
    padding-top: 60px;
}

.container {
	padding: 35px;
	max-width: 1170px;
	margin: 0 auto;
}

.stickyHeader {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 95;
}

md-sidenav { 
    z-index: 100 !important;
    position: fixed !important;
}