html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	margin: 0;
}

h1 {
	text-align: center;
}

div {
	box-sizing: border-box;
}

.container {
	padding: 35px;
	max-width: 1170px;
	margin: 60px auto 0 auto;
}

md-sidenav {
	width: 200px !important;
	position: fixed !important;
	top: 80px !important;
}